:root {
    --bg: #000000;
    --border: #7a7a7a59;
    --white: #f1f1f1;
    --orange: #FA4F01;
    --gray: #3d3d3d;
    --bg-image: url("./assets/bg.png");
    --padding: 48px;
    --width: 800px;
    --color-green: #36BA4A;
    --text-font: 'IBM Plex Mono', monospace;
}


body {
    background: var(--bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(#4c4c4c3f 1px, transparent 0.5px),
        radial-gradient(#47474728 1px, transparent 0.5px);
    background-size: 12px 12px;
}

hr.solid {
    border: var(--color-green);
}

.marquee {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    height: 40px;
}

@keyframes marquee {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.marquee h1 {
    pointer-events: none;
    color: var(--gray);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 0%;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 240s linear infinite;

}

.num {
    pointer-events: none;
    color: var(--color-green);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 0%;
}

.top-nav {
    display: flex;
    flex-direction: row;
    padding: 48px;
    width: 800px;
    gap: 16px;
    flex-shrink: 0;
    background-color: #00000097;
    border: 0.025px solid var(--border);
    background-image: "./assets/bg.png";
    justify-content: space-between;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 0.34s);
    animation-duration: 0.35s
}

.left {
    display: flex;
    gap: 24px;
}

.right {
    display: flex;
    gap: 24px;
}

.sub {
    /* pointer-events: none; */
    color: var(--color-green);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-decoration: none;
}

.sub2 {
    /* pointer-events: none; */
    color: var(--gray);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 0%;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 0.34s);
}

.sub2:hover {
    color: var(--white);
    text-decoration: underline;
}

.title {
    pointer-events: none;
    color: #9D9D9D;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 140%;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 48px;
    width: 800px;
    gap: 0;
    flex-shrink: 0;
    background-color: #00000097;
    border: 0.025px solid var(--border);
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.34s;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: column;
    padding: 48px;
    width: 800px;
    gap: 0;
    flex-shrink: 0;
    background-color: #00000097;
    border: 0.025px solid var(--border);
    background-image: "./assets/bg.png";
    /* align-self: stretch; */
    /* padding: 10% 20%; */
    justify-content: space-around;
    align-items: center;
}

.row:hover {
    border: 0.4px solid #3d9800;
    scale: 1.1;
    animation: scale 0.35ms ease-in-out 0.200ms;
}

.link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100%; */
    gap: 0;
    /* padding: 8px; */
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 48px;
    width: 800px;
    gap: 24px;
    flex-shrink: 0;
    background-color: #00000097;
    border: 0.025px solid var(--border);
}

.footer {
    color: var(--white);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 0%;
    text-decoration: none;
}