// Variables
$bg-color: #000000;
$text-color: #e0e0e0;
$accent-color: #fa4f01;
$secondary-color: #848484;
$border-color: #282828;
$card-bg: #1c1c1c;
$card-hover: #242424;
$secondary-font: "gravita-geo-variable", sans-serif;
$rotunda-font: "rotunda-variable", sans-serif;
$primary-font: 'Roboto', monospace; 